.itemsWrapper {
    //display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 5px;
    margin: -5px;
}

.item{
    max-width: 60%;
    position: relative;
    margin: 0 auto;
    width: 100%
}

.card{
    display: flex;
    position: relative;
    margin: 10px 0;
    color: rgb(135, 138, 140);
    cursor: pointer;
    overflow: hidden;
    border:1px solid rgb(204, 204, 204);
    transition: color 0.5s ease 0s;
    border-radius: 3px;
    &:hover{
        border-color: rgb(137, 137, 137);
    }
    .card-ups{
        width: 40px;
        border-left: 4px solid #0079D3;
        padding: 8px 4px;
        background-color: #f2f2f2;;
        text-align: center;
        .text{
            display: block;
            margin: 12px 0;
        }
    }
    .card-content{
        background: #ffffff;
        width: 100%;
    }
}

.title{
    color: rgb(34, 34, 34);
    overflow-wrap: break-word;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding:0 12px;
    span{
        display: block;
    }
}
.externalLink{
    display: block;
    text-align: center;
}
.arrow{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #878a8c;
    display: block;
    position: relative;
    margin: 0 auto;
    &:after{
        width: 4px;
        height: 8px;
        background: #878a8c;
        content: '';
        position: absolute;
        top: 8px;
        left: -2px;
        display: block;
    }
    &.down{
        transform: rotate(180deg);
    }
}

.arrow-box {
    position: relative;
    background: #878a8c;
    width: 26px;
    height: 10px;
    display: block;
    border-radius: 2px;
    &:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(204, 204, 204, 0);
        border-top-color: #878a8c;
        border-width: 6px;
        margin-left: -6px;
    }
}
.comments{
    display: flex;
    align-items: center;
    padding: 12px 8px;

    span{
        margin:0 4px;
    }
}
